<footer class="text-center py-5 mt-5 bg-light">
    <p><strong>NOTEish</strong> &mdash; Made with ❤️ by Aryan Mishra</p>
    <div class="socials">
    <a href="https://www.instagram.com/reallyoffbeat/">
        <img
        src="https://static.vecteezy.com/system/resources/previews/042/387/654/non_2x/instagram-button-icon-set-instagram-screen-social-media-and-social-network-interface-template-stories-user-button-symbol-sign-logo-stories-liked-editorial-free-png.png"
        alt="instagram-logo"
        />
        Instagram
    </a>
    <a href="https://github.com/aryanm9026" style="color: rgb(50, 50, 50)">
        <img
        src="https://img.icons8.com/m_outlined/512/github.png"
        alt="github-logo"
        />
        Github
    </a>
    <a href="https://www.linkedin.com/in/aryanmishra9026" style="color: rgb(39, 85, 212)">
        <img
        src="https://static.vecteezy.com/system/resources/previews/018/930/480/non_2x/linkedin-logo-linkedin-icon-transparent-free-png.png"
        alt="linkedin-logo"
        />
        Linkedin
    </a>
    </div>
    <br>
    <p>&copy; 2025 NOTEish All rights reserved.</p>

</footer>