<header>
    <div class="header-base">
    <h1 class="navbar-brand">
        <img
        src="/images/icon.png"
        style="margin-right: 10px"
        alt="ovhooo"
        />NOTEish
    </h1>
    <button id="theme-toggle" class="btn btn-outline-secondary">
  🌙 Dark Mode
</button>
    <div class="login-signup"></div>
    </div>
</header>