<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terms & Conditions !</title>
    <link rel="icon" href="/images/icon.png" type="image/x-icon" />
  </head>
  <body>
    <%- include('partials/header') %>

    <div
      class="terms"
      style="
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: green;
      "
    >
      <p>
        Itna taaka jhaaki kyun bhai mere koi terms nahi hain check krdeta
        simply. Lekin nahi !!! hume toh poora aache se dekhna hota hai. 😒 CHALO
        WAPIS JAO !
      </p>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
